{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://xray.amazonaws.com/"
        },
        {
            "url": "http://xray.amazonaws.com/"
        }
    ],
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "AWS X-Ray provides APIs for managing debug traces and retrieving service maps and other data created by processing those traces.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS X-Ray",
        "version": "2016-04-12",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/xray-2016-04-12.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "xray"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/xray/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/CreateGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a group resource with a name and a filter expression. ",
                "operationId": "CreateGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Group": {
                                            "description": "The group that was created. Contains the name of the group that was created, the ARN of the group that was generated based on the group name, and the filter expression that was assigned to the group.",
                                            "properties": {
                                                "FilterExpression": {
                                                    "description": "The filter expression defining the parameters to include traces.",
                                                    "type": "string"
                                                },
                                                "GroupARN": {
                                                    "description": "The ARN of the group generated based on the GroupName.",
                                                    "type": "string"
                                                },
                                                "GroupName": {
                                                    "description": "The unique case-sensitive name of the group.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "FilterExpression": {
                                        "description": "The filter expression defining criteria by which to group traces.",
                                        "maxLength": 2000,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "GroupName": {
                                        "description": "The case-sensitive name of the new group. Default is a reserved name and names must be unique.",
                                        "maxLength": 32,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "GroupName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/CreateSamplingRule": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a rule to control sampling behavior for instrumented applications. Services retrieve rules with <a>GetSamplingRules</a>, and evaluate each rule in ascending order of <i>priority</i> for each request. If a rule matches, the service records a trace, borrowing it from the reservoir size. After 10 seconds, the service reports back to X-Ray with <a>GetSamplingTargets</a> to get updated versions of each in-use rule. The updated rule contains a trace quota that the service can use instead of borrowing from the reservoir.",
                "operationId": "CreateSamplingRule",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "SamplingRuleRecord": {
                                            "description": "The saved rule definition and metadata.",
                                            "properties": {
                                                "CreatedAt": {
                                                    "description": "When the rule was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "ModifiedAt": {
                                                    "description": "When the rule was last modified.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SamplingRule": {
                                                    "description": "The sampling rule.",
                                                    "properties": {
                                                        "Attributes": {
                                                            "description": "Matches attributes derived from the request.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "maxLength": 32,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "maxLength": 32,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "maxItems": 5,
                                                            "type": "array"
                                                        },
                                                        "FixedRate": {
                                                            "description": "The percentage of matching requests to instrument, after the reservoir is exhausted.",
                                                            "format": "double",
                                                            "maximum": 1,
                                                            "minimum": 0,
                                                            "type": "number"
                                                        },
                                                        "HTTPMethod": {
                                                            "description": "Matches the HTTP method of a request.",
                                                            "maxLength": 10,
                                                            "type": "string"
                                                        },
                                                        "Host": {
                                                            "description": "Matches the hostname from a request URL.",
                                                            "maxLength": 64,
                                                            "type": "string"
                                                        },
                                                        "Priority": {
                                                            "description": "The priority of the sampling rule.",
                                                            "maximum": 9999,
                                                            "minimum": 1,
                                                            "type": "integer"
                                                        },
                                                        "ReservoirSize": {
                                                            "description": "A fixed number of matching requests to instrument per second, prior to applying the fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.",
                                                            "minimum": 0,
                                                            "type": "integer"
                                                        },
                                                        "ResourceARN": {
                                                            "description": "Matches the ARN of the AWS resource on which the service runs.",
                                                            "maxLength": 500,
                                                            "type": "string"
                                                        },
                                                        "RuleARN": {
                                                            "description": "The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                                            "type": "string"
                                                        },
                                                        "RuleName": {
                                                            "description": "The name of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                                            "maxLength": 32,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "ServiceName": {
                                                            "description": "Matches the <code>name</code> that the service uses to identify itself in segments.",
                                                            "maxLength": 64,
                                                            "type": "string"
                                                        },
                                                        "ServiceType": {
                                                            "description": "Matches the <code>origin</code> that the service uses to identify its type in segments.",
                                                            "maxLength": 64,
                                                            "type": "string"
                                                        },
                                                        "URLPath": {
                                                            "description": "Matches the path from a request URL.",
                                                            "maxLength": 128,
                                                            "type": "string"
                                                        },
                                                        "Version": {
                                                            "description": "The version of the sampling rule format (<code>1</code>).",
                                                            "minimum": 1,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "ResourceARN",
                                                        "Priority",
                                                        "FixedRate",
                                                        "ReservoirSize",
                                                        "ServiceName",
                                                        "ServiceType",
                                                        "Host",
                                                        "HTTPMethod",
                                                        "URLPath",
                                                        "Version"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "RuleLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "SamplingRule": {
                                        "description": "The rule definition.",
                                        "properties": {
                                            "Attributes": {
                                                "description": "Matches attributes derived from the request.",
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "maxLength": 32,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "maxLength": 32,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "maxItems": 5,
                                                "type": "array"
                                            },
                                            "FixedRate": {
                                                "description": "The percentage of matching requests to instrument, after the reservoir is exhausted.",
                                                "format": "double",
                                                "maximum": 1,
                                                "minimum": 0,
                                                "type": "number"
                                            },
                                            "HTTPMethod": {
                                                "description": "Matches the HTTP method of a request.",
                                                "maxLength": 10,
                                                "type": "string"
                                            },
                                            "Host": {
                                                "description": "Matches the hostname from a request URL.",
                                                "maxLength": 64,
                                                "type": "string"
                                            },
                                            "Priority": {
                                                "description": "The priority of the sampling rule.",
                                                "maximum": 9999,
                                                "minimum": 1,
                                                "type": "integer"
                                            },
                                            "ReservoirSize": {
                                                "description": "A fixed number of matching requests to instrument per second, prior to applying the fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.",
                                                "minimum": 0,
                                                "type": "integer"
                                            },
                                            "ResourceARN": {
                                                "description": "Matches the ARN of the AWS resource on which the service runs.",
                                                "maxLength": 500,
                                                "type": "string"
                                            },
                                            "RuleARN": {
                                                "description": "The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                                "type": "string"
                                            },
                                            "RuleName": {
                                                "description": "The name of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                                "maxLength": 32,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "ServiceName": {
                                                "description": "Matches the <code>name</code> that the service uses to identify itself in segments.",
                                                "maxLength": 64,
                                                "type": "string"
                                            },
                                            "ServiceType": {
                                                "description": "Matches the <code>origin</code> that the service uses to identify its type in segments.",
                                                "maxLength": 64,
                                                "type": "string"
                                            },
                                            "URLPath": {
                                                "description": "Matches the path from a request URL.",
                                                "maxLength": 128,
                                                "type": "string"
                                            },
                                            "Version": {
                                                "description": "The version of the sampling rule format (<code>1</code>).",
                                                "minimum": 1,
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "ResourceARN",
                                            "Priority",
                                            "FixedRate",
                                            "ReservoirSize",
                                            "ServiceName",
                                            "ServiceType",
                                            "Host",
                                            "HTTPMethod",
                                            "URLPath",
                                            "Version"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "SamplingRule"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/DeleteGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a group resource.",
                "operationId": "DeleteGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "GroupARN": {
                                        "description": "The ARN of the group that was generated on creation.",
                                        "maxLength": 400,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "GroupName": {
                                        "description": "The case-sensitive name of the group.",
                                        "maxLength": 32,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/DeleteSamplingRule": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a sampling rule.",
                "operationId": "DeleteSamplingRule",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "SamplingRuleRecord": {
                                            "description": "The deleted rule definition and metadata.",
                                            "properties": {
                                                "CreatedAt": {
                                                    "description": "When the rule was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "ModifiedAt": {
                                                    "description": "When the rule was last modified.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "SamplingRule": {
                                                    "description": "The sampling rule.",
                                                    "properties": {
                                                        "Attributes": {
                                                            "description": "Matches attributes derived from the request.",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "maxLength": 32,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "maxLength": 32,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "maxItems": 5,
                                                            "type": "array"
                                                        },
                                                        "FixedRate": {
                                                            "description": "The percentage of matching requests to instrument, after the reservoir is exhausted.",
                                                            "format": "double",
                                                            "maximum": 1,
                                                            "minimum": 0,
                                                            "type": "number"
                                                        },
                                                        "HTTPMethod": {
                                                            "description": "Matches the HTTP method of a request.",
                                                            "maxLength": 10,
                                                            "type": "string"
                                                        },
                                                        "Host": {
                                                            "description": "Matches the hostname from a request URL.",
                                                            "maxLength": 64,
                                                            "type": "string"
                                                        },
                                                        "Priority": {
                                                            "description": "The priority of the sampling rule.",
                                                            "maximum": 9999,
                                                            "minimum": 1,
                                                            "type": "integer"
                                                        },
                                                        "ReservoirSize": {
                                                            "description": "A fixed number of matching requests to instrument per second, prior to applying the fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.",
                                                            "minimum": 0,
                                                            "type": "integer"
                                                        },
                                                        "ResourceARN": {
                                                            "description": "Matches the ARN of the AWS resource on which the service runs.",
                                                            "maxLength": 500,
                                                            "type": "string"
                                                        },
                                                        "RuleARN": {
                                                            "description": "The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                                            "type": "string"
                                                        },
                                                        "RuleName": {
                                                            "description": "The name of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                                            "maxLength": 32,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "ServiceName": {
                                                            "description": "Matches the <code>name</code> that the service uses to identify itself in segments.",
                                                            "maxLength": 64,
                                                            "type": "string"
                                                        },
                                                        "ServiceType": {
                                                            "description": "Matches the <code>origin</code> that the service uses to identify its type in segments.",
                                                            "maxLength": 64,
                                                            "type": "string"
                                                        },
                                                        "URLPath": {
                                                            "description": "Matches the path from a request URL.",
                                                            "maxLength": 128,
                                                            "type": "string"
                                                        },
                                                        "Version": {
                                                            "description": "The version of the sampling rule format (<code>1</code>).",
                                                            "minimum": 1,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "ResourceARN",
                                                        "Priority",
                                                        "FixedRate",
                                                        "ReservoirSize",
                                                        "ServiceName",
                                                        "ServiceType",
                                                        "Host",
                                                        "HTTPMethod",
                                                        "URLPath",
                                                        "Version"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "RuleARN": {
                                        "description": "The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                        "type": "string"
                                    },
                                    "RuleName": {
                                        "description": "The name of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/EncryptionConfig": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves the current encryption configuration for X-Ray data.",
                "operationId": "GetEncryptionConfig",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "EncryptionConfig": {
                                            "description": "The encryption configuration document.",
                                            "properties": {
                                                "KeyId": {
                                                    "description": "The ID of the customer master key (CMK) used for encryption, if applicable.",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "The encryption status. While the status is <code>UPDATING</code>, X-Ray may encrypt data with a combination of the new and old settings.",
                                                    "enum": [
                                                        "UPDATING",
                                                        "ACTIVE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "description": "The type of encryption. Set to <code>KMS</code> for encryption with CMKs. Set to <code>NONE</code> for default encryption.",
                                                    "enum": [
                                                        "NONE",
                                                        "KMS"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/GetGroup": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves group resource details.",
                "operationId": "GetGroup",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Group": {
                                            "description": "The group that was requested. Contains the name of the group, the ARN of the group, and the filter expression that assigned to the group.",
                                            "properties": {
                                                "FilterExpression": {
                                                    "description": "The filter expression defining the parameters to include traces.",
                                                    "type": "string"
                                                },
                                                "GroupARN": {
                                                    "description": "The ARN of the group generated based on the GroupName.",
                                                    "type": "string"
                                                },
                                                "GroupName": {
                                                    "description": "The unique case-sensitive name of the group.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "GroupARN": {
                                        "description": "The ARN of the group that was generated on creation.",
                                        "maxLength": 400,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "GroupName": {
                                        "description": "The case-sensitive name of the group.",
                                        "maxLength": 32,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/GetSamplingRules": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves all sampling rules.",
                "operationId": "GetSamplingRules",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": "Pagination token. Not used.",
                                            "type": "string"
                                        },
                                        "SamplingRuleRecords": {
                                            "description": "Rule definitions and metadata.",
                                            "items": {
                                                "description": "A <a>SamplingRule</a> and its metadata.",
                                                "properties": {
                                                    "CreatedAt": {
                                                        "description": "When the rule was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "ModifiedAt": {
                                                        "description": "When the rule was last modified.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "SamplingRule": {
                                                        "description": "The sampling rule.",
                                                        "properties": {
                                                            "Attributes": {
                                                                "description": "Matches attributes derived from the request.",
                                                                "items": {
                                                                    "properties": {
                                                                        "key": {
                                                                            "maxLength": 32,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "maxLength": 32,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "maxItems": 5,
                                                                "type": "array"
                                                            },
                                                            "FixedRate": {
                                                                "description": "The percentage of matching requests to instrument, after the reservoir is exhausted.",
                                                                "format": "double",
                                                                "maximum": 1,
                                                                "minimum": 0,
                                                                "type": "number"
                                                            },
                                                            "HTTPMethod": {
                                                                "description": "Matches the HTTP method of a request.",
                                                                "maxLength": 10,
                                                                "type": "string"
                                                            },
                                                            "Host": {
                                                                "description": "Matches the hostname from a request URL.",
                                                                "maxLength": 64,
                                                                "type": "string"
                                                            },
                                                            "Priority": {
                                                                "description": "The priority of the sampling rule.",
                                                                "maximum": 9999,
                                                                "minimum": 1,
                                                                "type": "integer"
                                                            },
                                                            "ReservoirSize": {
                                                                "description": "A fixed number of matching requests to instrument per second, prior to applying the fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.",
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "ResourceARN": {
                                                                "description": "Matches the ARN of the AWS resource on which the service runs.",
                                                                "maxLength": 500,
                                                                "type": "string"
                                                            },
                                                            "RuleARN": {
                                                                "description": "The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                                                "type": "string"
                                                            },
                                                            "RuleName": {
                                                                "description": "The name of the sampling rule. Specify a rule by either name or ARN, but not both.",
                                                                "maxLength": 32,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "ServiceName": {
                                                                "description": "Matches the <code>name</code> that the service uses to identify itself in segments.",
                                                                "maxLength": 64,
                                                                "type": "string"
                                                            },
                                                            "ServiceType": {
                                                                "description": "Matches the <code>origin</code> that the service uses to identify its type in segments.",
                                                                "maxLength": 64,
                                                                "type": "string"
                                                            },
                                                            "URLPath": {
                                                                "description": "Matches the path from a request URL.",
                                                                "maxLength": 128,
                                                                "type": "string"
                                                            },
                                                            "Version": {
                                                                "description": "The version of the sampling rule format (<code>1</code>).",
                                                                "minimum": 1,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "ResourceARN",
                                                            "Priority",
                                                            "FixedRate",
                                                            "ReservoirSize",
                                                            "ServiceName",
                                                            "ServiceType",
                                                            "Host",
                                                            "HTTPMethod",
                                                            "URLPath",
                                                            "Version"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "NextToken": {
                                        "description": "Pagination token. Not used.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Groups": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves all active group details.",
                "operationId": "GetGroups",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Groups": {
                                            "description": "The collection of all active groups.",
                                            "items": {
                                                "description": "Details for a group without metadata.",
                                                "properties": {
                                                    "FilterExpression": {
                                                        "description": "The filter expression defining the parameters to include traces.",
                                                        "type": "string"
                                                    },
                                                    "GroupARN": {
                                                        "description": "The ARN of the group generated based on the GroupName.",
                                                        "type": "string"
                                                    },
                                                    "GroupName": {
                                                        "description": "The unique case-sensitive name of the group.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "Pagination token. Not used.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "NextToken": {
                                        "description": "Pagination token. Not used.",
                                        "maxLength": 100,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/PutEncryptionConfig": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Updates the encryption configuration for X-Ray data.",
                "operationId": "PutEncryptionConfig",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "EncryptionConfig": {
                                            "description": "The new encryption configuration.",
                                            "properties": {
                                                "KeyId": {
                                                    "description": "The ID of the customer master key (CMK) used for encryption, if applicable.",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "The encryption status. While the status is <code>UPDATING</code>, X-Ray may encrypt data with a combination of the new and old settings.",
                                                    "enum": [
                                                        "UPDATING",
                                                        "ACTIVE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "description": "The type of encryption. Set to <code>KMS</code> for encryption with CMKs. Set to <code>NONE</code> for default encryption.",
                                                    "enum": [
                                                        "NONE",
                                                        "KMS"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "KeyId": {
                                        "description": "<p>An AWS KMS customer master key (CMK) in one of the following formats:</p> <ul> <li> <p> <b>Alias</b> - The name of the key. For example, <code>alias/MyKey</code>.</p> </li> <li> <p> <b>Key ID</b> - The KMS key ID of the key. For example, <code>ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>.</p> </li> <li> <p> <b>ARN</b> - The full Amazon Resource Name of the key ID or alias. For example, <code>arn:aws:kms:us-east-2:123456789012:key/ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>. Use this format to specify a key in a different account.</p> </li> </ul> <p>Omit this key if you set <code>Type</code> to <code>NONE</code>.</p>",
                                        "maxLength": 3000,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "Type": {
                                        "description": "The type of encryption. Set to <code>KMS</code> to use your own key for encryption. Set to <code>NONE</code> for default encryption.",
                                        "enum": [
                                            "NONE",
                                            "KMS"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Type"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/SamplingStatisticSummaries": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves information about recent sampling results for all sampling rules.",
                "operationId": "GetSamplingStatisticSummaries",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": "Pagination token. Not used.",
                                            "type": "string"
                                        },
                                        "SamplingStatisticSummaries": {
                                            "description": "Information about the number of requests instrumented for each sampling rule.",
                                            "items": {
                                                "description": "Aggregated request sampling data for a sampling rule across all services for a 10 second window.",
                                                "properties": {
                                                    "BorrowCount": {
                                                        "description": "The number of requests recorded with borrowed reservoir quota.",
                                                        "type": "integer"
                                                    },
                                                    "RequestCount": {
                                                        "description": "The number of requests that matched the rule.",
                                                        "type": "integer"
                                                    },
                                                    "RuleName": {
                                                        "description": "The name of the sampling rule.",
                                                        "type": "string"
                                                    },
                                                    "SampledCount": {
                                                        "description": "The number of requests recorded.",
                                                        "type": "integer"
                                                    },
                                                    "Timestamp": {
                                                        "description": "The start time of the reporting window.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ThrottledException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "NextToken": {
                                        "description": "Pagination token. Not used.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/SamplingTargets": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Requests a sampling quota for rules that the service is using to sample requests. ",
                "operationId": "GetSamplingTargets",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "LastRuleModification": {
                                            "description": "The last time a user changed the sampling rule configuration. If the sampling rule configuration changed since the service last retrieved it, the service should call <a>GetSamplingRules</a> to get the latest version.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "SamplingTargetDocuments": {
                                            "description": "Updated rules that the service should use to sample requests.",
                                            "items": {
[...]
